@model UFC.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">NOME</div>
    <div class="display-field">@Model.NOME</div>

    <div class="display-label">Login</div>
    <div class="display-field">@Model.Login</div>

    <div class="display-label">SENHA</div>
    <div class="display-field">@Model.SENHA</div>

    <div class="display-label">ADMIN</div>
    <div class="display-field">@Model.ADMIN</div>

    <div class="display-label">APOSTA</div>
    <div class="display-field">@(Model.APOSTA == null ? "None" : Model.APOSTA.Count.ToString())</div>

    <div class="display-label">Usuario_EVENTO</div>
    <div class="display-field">@(Model.Usuario_EVENTO == null ? "None" : Model.Usuario_EVENTO.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


