@model UFC.LUTADOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LUTADOR</legend>

    <div class="display-label">NOME</div>
    <div class="display-field">@Model.NOME</div>

    <div class="display-label">PAGINA</div>
    <div class="display-field">@Model.PAGINA</div>

    <div class="display-label">CAMINHOFOTO</div>
    <div class="display-field">@Model.CAMINHOFOTO</div>

    <div class="display-label">LUTA</div>
    <div class="display-field">@(Model.LUTA == null ? "None" : Model.LUTA.Count.ToString())</div>

    <div class="display-label">LUTA1</div>
    <div class="display-field">@(Model.LUTA1 == null ? "None" : Model.LUTA1.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


