@model IEnumerable<UFC.LUTADOR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            NOME
        </th>
        <th>
            PAGINA
        </th>
        <th>
            CAMINHOFOTO
        </th>
        <th>
            LUTA
        </th>
        <th>
            LUTA1
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.NOME
        </td>
        <td>
			@item.PAGINA
        </td>
        <td>
			@item.CAMINHOFOTO
        </td>
        <td>
			@(item.LUTA == null ? "None" : item.LUTA.Count.ToString())
        </td>
        <td>
			@(item.LUTA1 == null ? "None" : item.LUTA1.Count.ToString())
        </td>
    </tr>
}

</table>


