@model IEnumerable<UFC.RESULTADO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            IDCOMPROVANTE
        </th>
        <th>
            DATAAPOSTA
        </th>
        <th>
            NOME
        </th>
        <th>
            PONTUACAO
        </th>
        <th>
            OBSERVACAO
        </th>
        <th>
            COMPROVANTE
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.IDCOMPROVANTE
        </td>
        <td>
			@String.Format("{0:g}", item.DATAAPOSTA)
        </td>
        <td>
			@item.NOME
        </td>
        <td>
			@item.PONTUACAO
        </td>
        <td>
			@item.OBSERVACAO
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.IDCOMPROVANTE).ToString()
        </td>
    </tr>
}

</table>


