@model UFC.COMPROVANTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>COMPROVANTE</legend>

    <div class="display-label">DATA</div>
    <div class="display-field">@String.Format("{0:g}", Model.DATA)</div>

    <div class="display-label">TIPO</div>
    <div class="display-field">@Model.TIPO</div>

    <div class="display-label">VALOR</div>
    <div class="display-field">@String.Format("{0:F}", Model.VALOR)</div>

    <div class="display-label">IDUSUARIO</div>
    <div class="display-field">@Model.IDUSUARIO</div>

    <div class="display-label">APOSTA</div>
    <div class="display-field">@(Model.APOSTA == null ? "None" : Model.APOSTA.Count.ToString())</div>

    <div class="display-label">Usuario</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Usuario).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


