@model IEnumerable<UFC.EVENTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            NOME
        </th>
        <th>
            TITULO
        </th>
        <th>
            DATA
        </th>
        <th>
            LIBERADO
        </th>
        <th>
            LUTA
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.NOME
        </td>
        <td>
			@item.TITULO
        </td>
        <td>
			@String.Format("{0:g}", item.DATA)
        </td>
        <td>
			@item.LIBERADO
        </td>
        <td>
			@(item.LUTA == null ? "None" : item.LUTA.Count.ToString())
        </td>
    </tr>
}

</table>


