@model UFC.PATROCINIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PATROCINIO</legend>

    <div class="display-label">CAMINHOBANNER</div>
    <div class="display-field">@Model.CAMINHOBANNER</div>

    <div class="display-label">PREMIO</div>
    <div class="display-field">@Model.PREMIO</div>

    <div class="display-label">VALOR</div>
    <div class="display-field">@String.Format("{0:F}", Model.VALOR)</div>

    <div class="display-label">IDEVENTO</div>
    <div class="display-field">@Model.IDEVENTO</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


